<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <link th:href="@{/assets/css/lib/mmc-chat.css}" href="../../../static/assets/css/lib/mmc-chat.css" rel="stylesheet" />
    <link th:href="@{/assets/css/lib/bootstrap.min.css}" href="../../../static/assets/css/lib/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/assets/css/lib/nixon.css}" href="../../../static/assets/css/lib/nixon.css" rel="stylesheet">
    <link th:href="@{/assets/css/style.css}" href="../../../static/assets/css/style.css" rel="stylesheet">
</head>
<style>
    .table tbody tr td,thead tr th{
        text-align: center;
    }
</style>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 p-0">
            <div class="page-header">
                <div class="page-title">
                    <h1>用户管理</h1>
                </div>
                <ol class="breadcrumb text-right">
                    <li><a>用户列表</a></li>
                </ol>
            </div>
        </div><!-- /# column -->
    </div><!-- /# row -->
<div class="row">
    <div class="col-lg-12">
        <p th:if="${error}" th:text="${error}" style="color: red"></p>
        <p th:if="${success}" th:text="${success}" style="color: green"></p>
        <div class="card alert">
            <div class="order-list-item">
                <table class="table">
                    <thead>
                    <tr>
                        <th>用户名</th>
                        <th>手机号码</th>
                        <th>性别</th>
                        <th>地区</th>
                        <th>邮件</th>
                        <th>真实姓名</th>
                        <th>生日</th>
                        <th>注册时间</th>
                        <th style="text-align: center">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user:${userList}">
                        <td th:text="${user.username}">John Doe</td>
                        <td th:text="${user.phone}">#8546677</td>
                        <td th:switch="${user.sex}">
                            <p th:case="1" th:text="男"></p>
                            <p th:case="0" th:text="女"></p>
                            <p th:case="2" th:text="保密"></p>
                        </td>
                        <td th:text="${user.city}">地区</td>
                        <td th:text="${user.email}">11@qq.com</td>
                        <td th:text="${user.realName}">花大是</td>
                        <td th:text="${#dates.format(user.birthday,'yyyy-MM-dd')}">100</td>
                        <td th:text="${#dates.format(user.createTime, 'yyyy-MM-dd HH:mm:ss')}">Paid</td>
                        <td><a th:href="@{'/admin/user/details?id='+${user.id}}" class="btn btn-info"  >查看详情</a> | <a th:href="@{'/admin/user/edit?id='+${user.id}}" class="btn btn-warning" >修改</a></td>
                    </tr>
                    </tbody>
                </table>
                <!--分页-->
                <nav aria-label="Page navigation" style="text-align: center">
                    <ul class="pagination">
                        <li class="disabled" th:class="${this==1?'disabled':''}" th:switch="${this}">
                            <a th:case="1" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                            <a th:case="*" th:href="@{'/admin/user/list?pageNum='+${this-1}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <li th:each="i:${#numbers.sequence(1,pages)}">
                            <a th:href="@{'/admin/user/list?pageNum='+${i}}" th:text="${i}">1</a>
                        </li>

                        <li th:class="${this == pages?'disabled':''}" >
                            <a th:if="${this==pages or this== pages+1}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                            <a th:unless="${this==pages or this== pages+1}" th:href="@{'/admin/user/list?pageNum='+${this + 1}}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                        </li>
                    </ul>
                </nav>
                <a th:href="@{'/admin/user/edit'}" class="btn btn-success" >添加用户</a>
            </div>
        </div><!-- /# card -->
    </div><!-- /# column -->
</div><!-- /# row -->
</div>
</body>
</html>