<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/assets/css/lib/mmc-chat.css}" href="/static/assets/css/lib/mmc-chat.css" rel="stylesheet" />
    <link th:href="@{/assets/css/lib/bootstrap.min.css}" href="/static/assets/css/lib/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/assets/css/lib/nixon.css}" href="/static/assets/css/lib/nixon.css" rel="stylesheet">
    <link th:href="@{/assets/css/style.css}" href="/static/assets/css/style.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 p-0">
            <div class="page-header">
                <div class="page-title">
                    <h1>首页</h1>
                </div>
            </div>
        </div><!-- /# column -->
        <div class="col-lg-4 p-0">
            <div class="page-header">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a >Dashboard</a></li>
                        <li><a >Components </a></li>
                        <li class="active">Sweetalert</li>
                    </ol>
                </div>
            </div>
        </div><!-- /# column -->
    </div><!-- /# row -->
    <div class="main-content">
        <div class="jumbotron">
            <h1>Hello, world!</h1>
            <p>回复的撒绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿
            dsfaaaaaaaa大法师割发代首所所所所所所所所所所所所所所所所撒所多付撒付撒付撒付撒付撒付撒付撒付撒付撒付撒付撒付撒付撒</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
</body>
</html>