<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oaec.tourism.mapper.PlaceMapper" >
    <sql id="columnList" >
        id,name,area,type,create_time,city_id
    </sql>
    <resultMap id="allMap" type="Place">
        <id column="id" property="id"/>
        <result property="name" column="name"/>
        <result property="area" column="area" />
        <result property="createTime" column="create_time"/>
        <association property="position" javaType="Position" column="id" select="com.oaec.tourism.mapper.PositionMapper.findByPlaceId" />
        <association property="city" javaType="City" column="city_id" select="com.oaec.tourism.mapper.CityMapper.findById" />
    </resultMap>
    <!--按id查询-->
    <select id="findById" parameterType="int" resultMap="allMap">
        SELECT <include refid="columnList"/>  FROM t_place WHERE type=0 AND id=#{id} ORDER BY create_time DESC
    </select>
    <!--查询所有-->
    <select id="findAll"  resultMap="allMap" parameterType="int">
        SELECT <include refid="columnList"/>  FROM t_place WHERE type=#{type} ORDER BY create_time DESC
    </select>

    <!--按景点名称查询-->
    <select id="findAllName"  resultMap="allMap">
        SELECT <include refid="columnList"/>  FROM t_place WHERE type=#{type} AND name LIKE ${key} ORDER BY create_time DESC
    </select>
    <!--按省级查找-->
    <select id="findAllCityNameAndType" resultMap="allMap">
        SELECT p.* FROM t_place p LEFT JOIN
          t_city c on c.id = p.city_id WHERE
          c.type=#{type}
          <if test="key !=null">
              AND c.name LIKE ${key}
          </if>
            ORDER BY p.create_time DESC
    </select>

    <!--新增-->
    <insert id="create" parameterType="Place" keyProperty="id" useGeneratedKeys="true">
      INSERT INTO t_place(name,area,create_time,city_id) VALUES(#{name},#{area},#{createTime},#{city.id})
    </insert>
    <!--修改-->
    <update id="update"  useGeneratedKeys="true">
        UPDATE t_place SET name=#{name},area=#{area},city_id=#{cityId} WHERE id=#{id}
    </update>
    <!--加入回收站-->
    <update id="delete" parameterType="int" >
        UPDATE t_place SET type=1 WHERE id=#{id}
    </update>

    <!--//恢复回收站单个或所有-->
    <update id="updateAll" parameterType="int">
        UPDATE t_place SET
        <choose>
            <when test="id !=null"> type=0 WHERE id=#{id} </when>
            <otherwise> type=0 </otherwise>
        </choose>
    </update>
    <!--//删除回收站单个或所有-->
    <delete id="emptyAll" parameterType="int" >
        DELETE FROM t_place WHERE
        <choose>
            <when test="id != null"> id=#{id}</when>
            <otherwise> type=1</otherwise>
        </choose>
    </delete>

</mapper>
