<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Nixon : Upload Menu</title>
    <!-- Styles -->
    <link th:href="@{/assets/css/lib/mmc-chat.css}" href="../../../static/assets/css/lib/mmc-chat.css"
          rel="stylesheet"/>
    <link th:href="@{/assets/css/lib/bootstrap.min.css}" href="../../../static/assets/css/lib/bootstrap.min.css"
          rel="stylesheet">
    <link th:href="@{/assets/css/lib/nixon.css}" href="../../../static/assets/css/lib/nixon.css" rel="stylesheet">
    <link th:href="@{/assets/css/style.css}" href="../../../static/assets/css/style.css" rel="stylesheet">
</head>

<body>


<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 p-0">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>管理员</h1>
                        </div>
                        <ol class="breadcrumb text-right">
                            <li><a href="/admin/manager/list">管理员列表</a></li>
                            <li><a href="#">管理员详情</a></li>
                        </ol>
                    </div>
                </div><!-- /# column -->
            </div><!-- /# row -->
            <div class="main-content">
                <div class="row">
                    <!-- /# column -->
                    <div class="col-lg-12">
                        <div id="invoice" class="effect2 m-t-10" >
                            <a href="javascript:history.go(-1)" class="btn btn-success">返回上一页</a>
                            <div id="invoice-mid">
                                <div class="clientlogo"></div>
                                <div class="invoice-info">
                                    <h2 th:text="${manager.username}">Client Name</h2>
                                    <p th:text="${manager.account}">  555-555-5555</p>
                                </div>

                                <div id="project">
                                    <h2 th:switch="${manager.type}">
                                        <span th:case="1" th:text="超级管理员"></span>
                                        <span th:case="0" th:text="管理员"></span>
                                    </h2>
                                    <p >Proin cursus, dui non tincidunt elementum, tortor ex feugiat enim, at elementum enim quam vel purus. Curabitur semper malesuada urna ut suscipit.</p>
                                </div>

                            </div>
                            <!--End Invoice Mid-->
                        </div>
                        <!--End Invoice-->
                    </div>
                </div><!-- /# row -->
            </div>
        </div><!-- /# container-fluid -->
    </div><!-- /# main -->
</div><!-- /# content wrap -->
</body>
<script th:src="@{/js/jquery-3.4.1.js}" src="../../../static/js/jquery-3.4.1.js"></script>
<script th:src="@{/layDate-v5.0.9/laydate/laydate.js}" src="../../../static/layDate-v5.0.9/laydate/laydate.js"></script>
<script>
    laydate.render({
        elem: '.birthday'
    });
    var test; //
    var indexneo;//记录第一个下标
    var indextwe;//记录第二个下标
    $(".city").click(function(){
        //初始化加载省份列表
        init();
    })
    //绑定省份下拉框的change事件
    $("#province").change(function () {
        //获取选中的省份id
        $("#city").attr("hidden",false);
        var provinceId = $(this).val();
        test=$(this).find('option:selected').text();//获取被选中的值
        indexneo = test.toString().length;
        $(".city").empty();
        $(".city").val(test);//赋值给input

        $.getJSON("/ajax/region", {"pid": provinceId}, function (json) {
            $("#city").empty();
            $.each(json, function (i, v) {
                $("#city").append("<option value='" + v.id + "''>" + v.name + "</option>");
            })
        })

    })
    //绑定城市下拉框的change事件
    $("#city").change(loadArea);
    $("#area").change(function(){
        test = test.substring(0,indextwe);
        test=test+$("#area").find('option:selected').text();//获取被选中的值
        $(".city").empty();
        $(".city").val(test);//赋值给input
    })
    function init() {
        $("#province").attr("hidden",false);
        $.getJSON("/ajax/region",{}, function (data) {
            $("#province").empty();
            $.each(data, function (i, v) {
                $("#province").append("<option value='" + v.id + "''>" + v.name + "</option>");
            })
        })
    }
    //读取地区列表
    function loadArea() {
        $("#area").attr("hidden",false);
        //获取选中的城市id
        var cityId = $("#city").val();
        test = test.substring(0,indexneo);
        test=test+$("#city").find('option:selected').text();//获取被选中的值
        indextwe = test.toString().length;
        $(".city").empty();
        $(".city").val(test);//赋值给input

        $.getJSON("/ajax/region", {"pid": cityId}, function (json) {
            $("#area").empty();
            $.each(json, function (i, v) {
                $("#area").append("<option value='" + v.id + "''>" + v.name + "</option>");
            })
        })
    }
</script>
</html>