<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="${title}"></title>
    <!-- Slick CSS -->
    <link rel="stylesheet" th:href="@{details/assets/css/style.css}" href="../static/details/assets/css/style.css">
    <link rel="stylesheet" th:href="@{bootstrap-3.3.7-dist/css/bootstrap.css}" href="../static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" th:href="@{index/assets/css/bootstrap.min.css}" href="../static/index/assets/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{index/assets/css/font-awesome.css}" href="../static/index/assets/css/font-awesome.css">
    <link rel="stylesheet" th:href="@{index/assets/css/main.css}" href="../static/index/assets/css/main.css">
    <link rel="stylesheet" th:href="@{index/assets/css/blue.css}" href="../static/index/assets/css/blue.css">
    <style>
        a{
            cursor: pointer;
        }
        .ctiyUl{
            margin-left: 30px;
        }
        .ctiyUl li{
            float: left;
            border: 1px solid silver;
            height: 30px;
            width: 100px;
            text-align: center;
            padding-top:5px;
            margin-right: 10px;
        }
        .ctiyUl li a{
            display: block;
        }
        #ctiy{
            position: absolute;
            width: 200px;
            height: 480px;
            background-color: beige;
            right:65px;
            top:55px;
            border: 1px solid orange;
            border-top: 0;
            padding: 0 10px;
            overflow:auto;
            display: none;
        }
        #ctiy li {
            display: block;
            width: 180px;
            height: 30px;
            text-align: center;
            border-bottom: 1px dashed #b4dbed;
            padding: 0 10px;
            font-size: 15px;
            padding-top: 5px;
        }
        #ctiy li:hover{
            background-color: #b4dbed;
            color: white;
        }
        #ctiy a{
            display: block;
        }
    </style>
</head>
<body >
<!--头部-->
<header class="header-style-1">
    <!-- ============================================== TOP MENU ============================================== -->
    <div class="top-bar animate-dropdown">
        <div class="container" style="padding-right:15px;">
            <div class="header-top-inner">
                <div class="cnt-account">
                    <ul class="list-unstyled">
                        <li class="myaccount"><a href="#"><span>关于我们</span></a></li>
                        <li class="wishlist"><a href="#"><span>站内地图</span></a></li>
                        <li class="header_cart hidden-xs"><a href="#"><span>服务热线</span></a></li>
                        <li class="check"><a href="#"><span>添加收藏</span></a></li>
                        <li class="login ">
                            <a th:unless="${session.userLogin}" href="/login" th:href="@{'/login'}"><span>登录</span></a>
                            <div th:if="${session.userLogin}" class="dropdown">
                                <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" th:if="${session.userLogin}"  th:href="@{'/user/index'}">欢迎您:<span th:text="${session.userLogin.phone}"></span></a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li style="text-align: center"><a th:href="@{'/user/index'}" style="color: black;display: block;width: 150px;">个人中心</a></li>
                                    <li style="text-align: center"><a th:href="@{'/user/index'}" style="color: black;display: block;width: 150px;">查询订单</a></li>
                                    <li style="text-align: center"><a th:href="@{'/logout'}" style="color: black;display: block;width: 150px;">退出登录</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.header-top -->
    <!-- ============================================== TOP MENU : END ============================================== -->
    <div class="main-header">
        <div class="container" style="margin-bottom: 5px;">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 logo-holder">
                    <!-- ============================================================= LOGO ============================================================= -->
                    <div class="logo"><h3>惠玩旅游网</h3> </div>
                    <!-- /.logo -->
                    <!-- ============================================================= LOGO : END ============================================================= --> </div>
                <!-- /.logo-holder -->

                <div class="col-lg-7 col-md-6 col-sm-8 col-xs-12 top-search-holder">
                    <!-- /.contact-row -->
                    <!-- ============================================================= SEARCH AREA ============================================================= -->
                    <div class="search-area">
                        <form action="/" method="post">
                            <input type="hidden" name="act" value="key">
                            <div class="control-group">
                                <select name="type" class="categories-filter animate-dropdown" style="height: 56px;">
                                    <option value="0">- 国家</option>
                                    <option value="1">- 景点名称</option>
                                    <option value="2">- 主题</option>
                                </select>
                                <input name="key" class="search-field" style="width: 70%" placeholder="请输入完整词汇或关键字...." />
                                <button class="search-button"></button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.main-header -->

        <!-- ============================================== NAVBAR ============================================== -->
        <div class="header-nav animate-dropdown">
            <div class="container">
                <div class="yamm navbar navbar-default" role="navigation">
                    <div class="nav-bg-class">
                        <div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
                            <div class="nav-outer">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown" style="float: left"> <a href="/" th:href="@{/}">首页</a> </li>
                                    <!--自行游-->
                                    <li class="dropdown yamm mega-menu"> <a  data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown">自行游</a>
                                        <ul class="dropdown-menu container">
                                            <li>
                                                <div class="yamm-content ">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-6 col-md-12 col-menu">
                                                            <ul class="links">
                                                                <li th:each="since:${sinceTripList}">
                                                                    <a th:href="@{'/?act=tirp&id='+${since.id}}" th:text="${since.title}" target='_blank'>Dresses</a>
                                                                    <span class='menu-label hot-menu hidden-xs'>new</span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <!--国内游-->
                                    <li class="dropdown yamm mega-menu" style="float: left"> <a  data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown">国内游</a>
                                        <ul class="dropdown-menu container">
                                            <li>
                                                <div class="yamm-content ">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-6 col-md-12 col-menu">
                                                            <ul class="links">
                                                                <li th:each="domestic:${domesticTripList}">
                                                                    <a target='_blank' th:href="@{'/?act=trip&id='+${domestic.id}}" th:text="${domestic.title}">Dresses</a>
                                                                    <span class='menu-label hot-menu hidden-xs'>new</span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <!-- /.col -->
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <!--境外游-->
                                    <li class="dropdown mega-menu" style="float: left">
                                        <a data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown">境外游 </a>
                                        <ul class="dropdown-menu container">
                                            <li>
                                                <div class="yamm-content">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-menu">
                                                            <ul class="links">
                                                                <li th:each="foreign,iterStat:${foreignTripList}">
                                                                    <a target='_blank' th:href="@{'/?act=trip&id='+${foreign.id}}" th:text="${foreign.title}">Gaming
                                                                    </a><span class='menu-label hot-menu hidden-xs'>new</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <!--主题游-->
                                    <li class="dropdown" style="float: left"> <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">主题</a>
                                        <ul class="dropdown-menu pages">
                                            <li>
                                                <div class="yamm-content">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-menu">
                                                            <ul class="links">
                                                                <li th:each="theme:${themeList}"><a target='_blank' th:text="${theme.name}" th:href="@{'/?act=theme&id='+${theme.id}}">Home</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <!--特推-->
                                    <li class="dropdown mega-menu" id="pushNew" style="float: left">
                                        <a  data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown">特推旅游 <span class="menu-label hot-menu hidden-xs">new</span> </a>
                                        <ul class="dropdown-menu container">
                                            <li>
                                                <div class="yamm-content">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12 col-md-2 col-menu" th:each="place:${placeList}">
                                                            <h2 class="title" th:text="${place.name}" th:attr="id=${place.id}">Laptops</h2>
                                                            <ul class="links">
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <!--热门-->
                                    <li class="dropdown mega-menu" style="float: left">
                                        <a  data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown">热门 <span class="menu-label hot-menu hidden-xs">热门</span> </a>
                                        <ul class="dropdown-menu container">
                                            <li>
                                                <div class="yamm-content">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-menu">
                                                            <ul class="links">
                                                                <li th:each="hot:${hotList}"><i class='glyphicon glyphicon-fire' style='color:red;float: right;margin-top: 5px;' ></i><a th:href="@{'/?act=trip&id='+${hot.id}}" th:text="${hot.title}" target='_blank'> </a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!-- /.row -->
                                                </div>
                                                <!-- /.yamm-content --> </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.nav-outer -->
                        </div>
                        <!-- /.navbar-collapse -->

                    </div>
                    <!-- /.nav-bg-class -->
                </div>
                <!-- /.navbar-default -->
            </div>
            <!-- /.container-class -->

        </div>
        <!-- /.header-nav -->
        <!-- ============================================== NAVBAR : END ============================================== -->
    </div>
</header>
<!--中间内容-->
<div class="container" style="margin-left: 120px;margin-right: 120px;margin-bottom: 30px;">
    <div>
        <!-- 分页路劲导航条-->
        <div class="breadcrumb-area" style="padding: 0">
                <div >
                    <ol class="breadcrumb">
                        <li><a th:href="@{'/'}">首页</a></li>
                        <li class="active" th:text="${title}" >Single Product</li>
                    </ol>
                </div>
        </div>
    </div>

    <!--内容显示-->
    <div class="row" style="border: 2px solid darkgrey;" th:unless="${!#lists.isEmpty(tripList)}">
        <div class="row" style="height: 50px;background-color: lightgreen;margin: 0">
            <h4 style="padding-left: 20px;color: red" th:text="${error}">查询类型</h4>
        </div>
    </div>
    <div class="row" style="border: 2px solid darkgrey;" th:if="${!#lists.isEmpty(tripList)}">
        <div class="row" style="height: 50px;background-color: lightgreen;margin: 0">
            <h4 style="padding-left: 20px;color: black" th:text="${title}">查询类型</h4>
        </div>
        <!--展示类型 此处遍历-->
        <div class="row" style="height: 200px;;margin: 0;border-bottom: 1px solid darkcyan" th:each="trip:${tripList}">
            <ul>
                <!--图片-->
                <li style="float: left;height: 200px;width: 260px;padding: 10px;">
                    <img th:src="${!#lists.isEmpty(trip.tripPictures)}?${trip.tripPictures[0].base64}:'/images/notImage.jpg'"  style="height: 180px;width: 240px;">
                </li>
                <li style="float: left;height: 200px;width: 640px;padding: 10px;">
                    <h5 th:text="${trip.place.name}" style="background-color: beige"></h5>
                    <!--标题-->
                    <h4 th:text="${trip.title}">代理费撒军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军</h4>
                    <!--出游类型-->
                    <a style="margin-right: 10px;margin-bottom: 5px;" class="btn btn-info" th:if="${!#lists.isEmpty(trip.themes)}" th:each="theme:${trip.themes}" th:text="${theme.name}">1231</a><br/>

                    <h5>价格:￥<span style="color: red" th:text="${!#lists.isEmpty(trip.prices)}?${trip.prices[0].price}:'为定价'">123132</span>起</h5>
                </li>
                <li  style="float: left;height: 200px;width: 225px;padding: 10px;text-align: center;padding-top: 70px;">
                    <a th:href="@{'/?act=trip&id='+${trip.id}}" target="_blank">
                        <h2>查看详情>></h2>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- ============================================================= 底部 ============================================================= -->
<footer style="clear: left;" id="footer" class="footer color-bg">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="address-block">
                        <!-- /.module-heading -->
                        <div class="module-body">
                            <ul class="toggle-footer" style="">
                                <li class="media">
                                    <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i> </span> </div>
                                    <div class="media-body">
                                        <p>ThemesGround, 789 Main rd, Anytown, CA 12345 USA</p>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-mobile fa-stack-1x fa-inverse"></i> </span> </div>
                                    <div class="media-body">
                                        <p> + (888) 123-4567 / + (888) 456-7890</p>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-envelope fa-stack-1x fa-inverse"></i> </span> </div>
                                    <div class="media-body"> <span><a href="#">marazzo@themesground.com</a></span> </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.module-body -->
                </div>
                <!-- /.col -->

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="module-heading">
                        <h4 class="module-title">Customer Service</h4>
                    </div>
                    <!-- /.module-heading -->

                    <div class="module-body">
                        <ul class='list-unstyled'>
                            <li class="first"><a href="#" title="Contact us">My Account</a></li>
                            <li><a href="#" title="About us">Order History</a></li>
                            <li><a href="#" title="faq">FAQ</a></li>
                            <li><a href="#" title="Popular Searches">Specials</a></li>
                            <li class="last"><a href="#" title="Where is my order?">Help Center</a></li>
                        </ul>
                    </div>
                    <!-- /.module-body -->
                </div>
                <!-- /.col -->

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="module-heading">
                        <h4 class="module-title">Corporation</h4>
                    </div>
                    <!-- /.module-heading -->

                    <div class="module-body">
                        <ul class='list-unstyled'>
                            <li class="first"><a title="Your Account" href="#">About us</a></li>
                            <li><a title="Information" href="#">Customer Service</a></li>
                            <li><a title="Addresses" href="#">Company</a></li>
                            <li><a title="Addresses" href="#">Investor Relations</a></li>
                            <li class="last"><a title="Orders History" href="#">Advanced Search</a></li>
                        </ul>
                    </div>
                    <!-- /.module-body -->
                </div>
                <!-- /.col -->

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="module-heading">
                        <h4 class="module-title">Why Choose Us</h4>
                    </div>
                    <!-- /.module-heading -->
                    <div class="module-body">
                        <ul class='list-unstyled'>
                            <li class="first"><a href="#" title="About us">Shopping Guide</a></li>
                            <li><a href="#" title="Blog">Blog</a></li>
                            <li><a href="#" title="Company">Company</a></li>
                            <li><a href="#" title="Investor Relations">Investor Relations</a></li>
                            <li class=" last"><a  title="Suppliers">Contact Us</a></li>
                        </ul>
                    </div>
                    <!-- /.module-body -->
                </div>
            </div>
        </div>
    </div>
</footer>
<a id="back" onclick="pageScroll()" class="btn btn-info" style="position: fixed;bottom:100px;right:50px;display: none">返回顶部</a>
<!-- jQuery JS -->
<script th:src="@{/js/jquery-3.4.1.js}" src="../static/js/jquery-3.4.1.js"></script>
<script th:src="@{/bootstrap-3.3.7-dist/js/bootstrap.js}" src="../static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<!--头部鼠标经过事件-->
<script th:src="@{/index/assets/js/bootstrap-hover-dropdown.min.js}" src="../static/index/assets/js/bootstrap-hover-dropdown.min.js"></script>
</body>
<script>
    $(function(){
        $(window).on("scroll",function(){
            //判断向下滑动的距离
            if($(window).scrollTop()>=1200){
                $("#back").css("display","block");
            }else{
                $("#back").css("display","none");
            }
        });
        showHeadSpecialPush();//头部导航栏特推Ajax请求
    })
    /*滚回顶部*/
    function pageScroll(){
        var scrolldelay=setInterval(function(){
            window.scrollBy(0,-500);
            if($(window).scrollTop()<=0){
                clearTimeout(scrolldelay);
            }
        },100);
    }
    function showHeadSpecialPush(){
        /*头部导航栏特推Ajax请求*/
        $("#pushNew").hover(function(){
            $(this).find("h2").each(function(){
                var placeId = $(this).attr("id");//获取id
                var ul = $(this).next(".links");//获取当前ul用于遍历
                var url = "/ajax"
                $.post(url,{placeId:placeId},function(data){
                    ul.empty();//清空
                    $.each(data.list,function(i,v){
                        ul.append("<li><a href='/?act=trip&id="+v.id+"' target='_blank'>"+v.title+"</a></li>")
                    })
                })
            })
        })
    }
</script>
</html>

